In [2]:
import pandas as pd
import pickle

In [4]:
pwd

'/Users/user/Library/CloudStorage/OneDrive-Nexus365/PhD/Campy_Analysis_ALL/Code/Non_r'

In [6]:
df_train = pd.read_excel('../../Data/X_train_20.xlsx')
df_test = pd.read_excel('../../Data/X_test_20.xlsx')

In [20]:
df = pd.concat([df_train,df_test]).drop(['Unnamed: 0'], axis=1)

In [22]:
# load the model from disk
filename = '../../Data/aspA-glnA-gltA-glyA-pgm-tkt-uncA-trained.pkl'
with open(filename, 'rb') as fh:
    model = pickle.load(fh)

In [23]:
col_names = ['aspA','glnA','gltA','glyA','pgm','tkt','uncA']
df['prediction'] = model.predict(df[col_names])

In [24]:
df

,aspA,glnA,gltA,glyA,pgm,tkt,uncA,ST (MLST),clonal_complex (MLST),fullNG-20,trainNG-20,prediction
0,2,1,1,3,2,1,5,21,ST-21 complex,16,18.0,18
1,1,2,3,4,5,9,3,42,ST-42 complex,14,15.0,15
2,7,17,2,15,23,3,12,51,ST-443 complex,13,2.0,2
3,9,2,4,62,4,133,6,990,ST-257 complex,6,10.0,10
4,4,7,10,4,42,51,1,583,ST-45 complex,7,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
2067,2,4,1,2,7,1,5,48,ST-48 complex,9,NaN,8
2068,2,4,1,4,19,62,5,475,ST-48 complex,9,NaN,8
2069,4,7,12,4,42,51,1,383,ST-283 complex,7,NaN,4
2070,2,1,21,3,2,1,5,53,ST-21 complex,16,NaN,18
2071,2,1,42,3,148,1,5,861,ST-21 complex,16,NaN,18