In [3]:
import pandas as pd
import pickle

In [4]:
pwd

'/Users/user/Library/CloudStorage/OneDrive-Nexus365/PhD/Campy_Analysis_ALL/Code/Non_r'

In [24]:
df_train = pd.read_excel('../../Data/X_train_20.xlsx')
df_test = pd.read_excel('../../Data/X_test_20.xlsx')

In [17]:
df = pd.concat([df_train,df_test]).rename({'Unnamed: 0':'id'}, axis=1)

In [18]:
# load the model from disk
filename = '../../Data/aspA-glnA-gltA-glyA-pgm-tkt-uncA-trained.pkl'
with open(filename, 'rb') as fh:
    model = pickle.load(fh)

In [19]:
col_names = ['aspA','glnA','gltA','glyA','pgm','tkt','uncA']
df['prediction'] = model.predict(df[col_names])

In [23]:
df.to_csv('../../Data/10359_train_test_combined.csv')

In [31]:
df_test.head()

,Unnamed: 0,aspA,glnA,gltA,glyA,pgm,tkt,uncA,ST (MLST),clonal_complex (MLST),fullNG-20
0,40796,8,10,2,2,11,12,6,354,ST-354 complex,1
1,63360,1,4,2,2,6,3,17,61,ST-61 complex,17
2,39679,9,53,2,10,11,3,3,305,ST-574 complex,13
3,21329,2,1,12,3,2,1,5,50,ST-21 complex,15
4,42089,2,4,1,2,7,1,5,48,ST-48 complex,9