In [3]:
import pandas as pd
import pickle

In [4]:
pwd

'/Users/user/Library/CloudStorage/OneDrive-Nexus365/PhD/Campy_Analysis_ALL/Code/Non_r'

In [5]:
df_train = pd.read_excel('../../Data/X_train_20.xlsx')
df_test = pd.read_excel('../../Data/X_test_20.xlsx')

In [17]:
df = pd.concat([df_train,df_test]).rename({'Unnamed: 0':'id'}, axis=1)

In [18]:
# load the model from disk
filename = '../../Data/aspA-glnA-gltA-glyA-pgm-tkt-uncA-trained.pkl'
with open(filename, 'rb') as fh:
    model = pickle.load(fh)

In [19]:
col_names = ['aspA','glnA','gltA','glyA','pgm','tkt','uncA']
df['prediction'] = model.predict(df[col_names])

In [23]:
df.to_csv('../../Data/10359_train_test_combined.csv')

In [22]:
df.head()

,id,aspA,glnA,gltA,glyA,pgm,tkt,uncA,ST (MLST),clonal_complex (MLST),fullNG-20,trainNG-20,prediction
0,24767,2,1,1,3,2,1,5,21,ST-21 complex,16,18.0,18
1,50163,1,2,3,4,5,9,3,42,ST-42 complex,14,15.0,15
2,25086,7,17,2,15,23,3,12,51,ST-443 complex,13,2.0,2
3,24051,9,2,4,62,4,133,6,990,ST-257 complex,6,10.0,10
4,18376,4,7,10,4,42,51,1,583,ST-45 complex,7,4.0,4