In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.spatial.distance import hamming
import scipy.cluster.hierarchy as spc
from scipy.stats import mode

In [3]:
profiles = pd.read_excel(
    '../../CC353_Analysis/Decisiontree_prediction_neighbor_joining.xlsx').set_index('ID')

In [4]:
pwd

'/Users/user/Library/CloudStorage/OneDrive-Nexus365/PhD/Campy_Analysis_ALL/Code/Non_r'

In [5]:
CatboostGroup_mode_CC = profiles.groupby('Group')['CC'].agg([
    lambda x:mode(x)[0],
    len
])
CatboostGroup_mode_CC.to_excel('CatboostGroup_mode_CC.xlsx')

In [6]:
CatboostGroup_mode_CC

              <lambda_0>   len
Group
1       [ST-354 complex]   611
2       [ST-353 complex]   402
3       [ST-464 complex]   416
4                    [0]     1
5       [ST-581 complex]     2
6       [ST-581 complex]     9
7                    [0]     1
8       [ST-257 complex]   909
9       [ST-677 complex]    57
10       [ST-45 complex]  1030
11      [ST-177 complex]     1
12      [ST-179 complex]     3
13     [ST-1275 complex]    18
14      [ST-179 complex]     1
15     [ST-1332 complex]     3
16     [ST-1034 complex]    75
17      [ST-206 complex]   634
18       [ST-48 complex]  1227
19      [ST-362 complex]     2
20      [ST-362 complex]     2
21      [ST-362 complex]     1
22      [ST-574 complex]     4
23      [ST-574 complex]   283
24      [ST-443 complex]   377
25      [ST-443 complex]     1
26       [ST-42 complex]   527
27      [ST-658 complex]   409
28     [ST-1287 complex]     2
29       [ST-21 complex]  1646
30       [ST-21 complex]  1426
31       [ST-61 complex]   275
32                   [0]     1
33      [ST-433 complex]     1
34      [ST-464 complex]     1
35      [ST-353 complex]     1

In [18]:
profiles[profiles['Group'] == 4]

,aspA,glnA,gltA,glyA,pgm,tkt,uncA,ST,CC,Group,predictedGroup
ID,,,,,,,,,,,
10935,7,84,5,10,119,178,26,1911,NaN,4,3